{% extends 'navbar.html.twig' %}

{% block title %}Blog Posted Date{% endblock %}
{% block sub_content %}
<!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Grouped multiple cards for statistics starts here -->
                <div class="row grouped-multiple-statistics-card">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                    <h4 class="card-title" id="hidden-label-form-center">Filter BlogS By Posted Date</h4>
                                    <a class="heading-elements-toggle"><i class="fas fa-redo-alt"></i></a> 
                                </div>
                                <div class="card-content collpase show">
                                    <div class="card-body">
                                        <form action="{{path('blog_date')}}" method="post" class="form-horizontal">
                                            <div class="form-body">
                                                <h4 class="form-section"><i class="fas fa-tasks"></i>Posted Date Info</h4>
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control">Blog Post Date : </label>
                                                    <div class="col-md-9">
                                                        <input type="date" name="postedDate" class="form-control">
                                                    </div>
                                                </div>
                                                
                                            <div class="form-actions center">
                                                <input type="submit" class="btn btn-primary" id="change" value="Save">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- Grouped multiple cards for statistics ends here -->  
                
            </div>
            {% if error is defined %}
                <h1><center>{{error}}</center></h1>
            {% endif %}
            {% if blog is defined %}
            <div class="content-body">
                <!-- File export table -->
                <section id="file-export">
                    <div class="row">
                    {% for blogs in blog %}
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">{{blogs.title}}</h4>
                                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="fas fa-minus"></i></a></li>
                                            <li><a data-action="expand"><i class="fas fa-expand"></i></a></li>
                                            <li><a data-action="close"><i class="far fa-window-close"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse">
                                    <div class="card-body card-dashboard">
                                        <b>BLOG TITLE : {{blogs.title}}</b><br>
                                        <b>BLOG CATEGORY : </b>{{blogs.category}}<br>
                                        <b>BLOG CONTENT : </b>{{blogs.content}}<br>
                                        <b>POSTED DATE : </b>{{blogs.postedDate}}<br>
                                        <b>BLOG AUTHOR : </b>{{blogs.username}}<br>
                                        <br>
                                        <h4 style="color:blue">View Comments</h4>

                                                {% if comment_post is defined %}
                                                {% set count = 0 %}
                                        {% for comments in comment_post %}
                                            {% if comments.blogId==blogs.id %}
                                            <br>
                                                <b>TITLE : </b>{{comments.commentTitle}}<br>
                                                <b>DESCRIPTION : </b>{{comments.commentDiscription}}<br>
                                                <b>DATE : </b>{{comments.createdDate}}<br>
                                                <b>CREATED BY : </b>{{comments.username}}<br>
                                                {% set count=count+1 %}
                                                <br>
                                            {% endif %}       
                                        {% endfor %}
                                        {% if count == 0 %}
                                        <b>No comment Exists </b>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %} 
                    </div>
                </section>
                <!-- File export table -->    
            </div>
            {% endif %}
        </div>
    </div>
    <!-- END: Content-->

{% endblock %}
